<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vi Type</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:wght@300;500;600;700;800&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@1,300;1,400&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="icon" type="image/png" href="/static/img/logo.png">
</head>

<body>
    <div class="main">
        <!-- NavBar -->
        <div class="nav-bar-container">
            <div class="nav-bar">
                <div>
                    <span class="title-main">VI</span>
                    <span class="title-sub">TYPE</span>
                </div>
                <div class="user-div">
                    <button class="fa fa-user user" onclick="function hanldeUser() {location.href = '/auth/google/login';console.log('clicked')}">
                    </button>
                </div>
            </div>
        </div>

        <!-- Main -->
        <div class="container hidden" id="container">
            <div id="info" class="info">
                <span id="info-completed">0/0</span>
                <span id="info-speed">0</span>
            </div>
            <div class="text-container">
                <span id="typed-text" class="typed-text"></span>
                <span id="current-text" class="current-text"></span>
                <span id="untyped-text" class="untyped-text"></span>
            </div>
            <br>
            <div id="keyboard">
                <div id="first-row" class="keyboard-row"></div>
                <div id="second-row" class="keyboard-row"></div>
                <div id="third-row" class="keyboard-row"></div>
                <div id="fourth-row" class="keyboard-row">
                    <div id="space-key">space</div>
                </div>
            </div>
        </div>
        <div class="result hidden" id="result">
            <canvas id="result-chart" width="400" height="100"> </canvas>
        </div>
        <div class="loading-screen" id="loading-screen">
            <div class="loader"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/home.js"> </script>
</body>

</html>
